[Unit]
Description=MikroTik Neighbor Discovery Protocol Service
After=network.target

[Service]
WorkingDirectory=/root/MndpService.Core
ExecStart=/root/MndpService.Core/MndpService.Core.Full
Restart=always
RestartSec=15
KillSignal=SIGINT
SyslogIdentifier=mndp
User=root
Group=root
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target